* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: #fff;
    color: #0A192F;
    padding: 30px;
}

/* NAV */
a {
    text-decoration: none;
    color: #0A192F;
    font-weight: 600;
    margin-right: 15px;
}

h2 {
    background: #0A192F;
    color: #64FFDA;
    padding: 20px 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* WRAPPER */
.detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

/* KARTU */
.mobil-card,
.status-card {
    background: #FF8C00;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.mobil-card img {
    display: block;
    margin: 0 auto 15px auto;
}

/* MOBIL */
.mobil-card img {
    width: 70%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.no-image {
    height: 200px;
    background: #eee;
    text-align: center;
    line-height: 200px;
    border-radius: 12px;
}

/* STATUS */
.status-card {
    background: #fff;
}

.status-card table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.status-card td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.status-card td:first-child {
    width: 180px;
    font-weight: 600;
    background: #FFC107;
}

/* BUTTON */
button {
    background: #0A192F;
    color: #64FFDA;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .detail-wrapper {
        grid-template-columns: 1fr;
    }
}
