* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f6fa;
    padding: 40px;
}

/* ===== JUDUL ===== */
h2 {
    color: #64FFDA;
    background: linear-gradient(90deg, #0A192F, #020617);
    padding: 20px 32px;
    max-width: 620px;
    border-radius: 18px;
    font-size: 26px;
    margin-bottom: 18px;
}

/* ===== LINK KEMBALI ===== */
a {
    display: inline-block;
    margin-bottom: 22px;
    color: #FF8C00;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== CARD UTAMA  ===== */
.card {
    background: #ffffff;
    max-width: 620px;       
    padding: 28px 32px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

/* ===== INFO KENDARAAN ===== */
.card table {
    width: 50%;
    margin-bottom: 22px;
}

.card table td {
    padding: 29px px;
    color: #1F2937;
    font-size: 15px;
}

/* ===== LABEL ===== */
label {
    display: block;
    margin-top: 18px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #0a2f10;
}

/* ===== INPUT ===== */
input[type="datetime-local"] {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #CBD5E1;
    font-size: 14px;
}

input[type="datetime-local"]:focus {
    outline: none;
    border-color: #FF8C00;
    box-shadow: 0 0 0 3px rgba(255,140,0,0.2);
}

small {
    display: block;
    margin-top: 6px;
    color: #6B7280;
}

/* ===== BUTTON ===== */
button {
    margin-top: 26px;
    padding: 14px;
    width: 180px;
    background-color: #FF8C00;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #e67600;
}
